:root {
    /** Colors */
    --clr-primary-dark: #333;
    --clr-border-black: #1a1a1a;
    --clr-light-grey-background: #f7f7f7;
    --clr-transparent-grey-background: #ffffff7c;
    --clr-link-active: #551A8B;
    --clr-link-unactive: #2F56B0;
    --clr-correct-green: #11a611;
    --clr-correct-light-green: #4eda4e;
    --clr-partially-correct-light-orange: #ebe052;
    --clr-incorrect-red: #a61111;
    --clr-incorrect-light-red: #da4e4e;
    --transition-speed: 0.5s;
    /** Font sizes */

    /** Margin sizes */
    --m-xxs: .25rem;
    --m-xs: .5rem;
    --ma-s: .75rem;
    --m-m: 1rem;
    --m-l: 1.25rem;
    --m-xl: 1.75rem;
    --m-xxl: 2.5rem;
    --m-xxxl: 3.75rem;
}

@keyframes transitionIn {
    from { top: 0;
    }
    to { bottom: 600px;
    }
}

body {
    animation: transitionIn 1s;
}

* {
    font-family: "Gilroy";
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, .inline-text {
    overflow-wrap: break-word;
    cursor: default;
}

::selection {
    background: var(--clr-link-active);
    color: white;
}

html {
    background-image: url('../img/background-images/background-image-1.png');
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--clr-link-unactive);
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: color var(--transition-speed) ease-out;
    transition: color var(--transition-speed) ease-out;
}
  
a::after {
    border-radius: 1em;
    border-top: .1em solid var(--clr-link-active);
      bottom: .14em;
    content: "";
      left: 0;
    position: absolute;
      right: 100%;
    -webkit-transition: border-color .8s ease-out,
                right .8s cubic-bezier(0,.5,0,1);
    transition: border-color .8s ease-out,
                right .8s cubic-bezier(0,.5,0,1);
}
  
a:hover {
    color: var(--clr-link-active);
    text-decoration: none;
}
  
a:hover::after {
    border-color: var(--clr-link-active);
    right: 0;
}

input:focus {
    outline: none;
}

.form {
    position: relative;
}

.field {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.btn {
    border: 2px solid var(--clr-border-black);
    background-color: transparent;
    color: var(--clr-primary-dark);
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: var(--transition-speed);
}

.btn:hover, .input-box:hover {
    background-color: var(--clr-light-grey-background);
    transition: var(--transition-speed);
    border-radius: 0px;
}

.input-box {
    width: 358px;
    border: 2px solid var(--clr-border-black);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    transition: var(--transition-speed);
}

.input-box:focus, .btn:focus {
    background-color: var(--clr-light-grey-background);
    outline: 0px;
    border-radius: 0px;
}

.eye-icon {
    height: 18px;
    width: 18px;
    color: var(--clr-border-black);
    transform: var(--transition-speed);
    position: absolute;
    left: 2px;
    top: 2px;
    color: hsl(38, 98%, 48%);
}

.eye-icon-padding {
    position: absolute;
    height: 22px;
    width: 22px;
    visibility: visible;
    top: 8px;
    right: 13px;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--transition-speed);
    user-select: none;
}

.eye-icon-padding:hover {
    background-color: var(--clr-transparent-grey-background);
    transition: var(--transition-speed);
}

.glass-frame {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.text-centered {
    text-align: center;
}

.condition-not-met {
    color: var(--clr-incorrect-red);
}

.condition-is-met {
    color: var(--clr-correct-green);
}

.visibility-on {
    display: block;
}

.visibility-off {
    display: none;
}

.icon-bullet-point {
    top: 2.25px;
}

.input-condition-is-met, .input-condition-is-met:hover, .input-condition-is-met:focus {
    background-color: var(--clr-correct-light-green);
}

.input-condition-not-met, .input-condition-not-met:hover, .input-condition-not-met:focus {
    background-color: var(--clr-incorrect-light-red);
}

.input-condition-partially-met, .input-condition-partially-met:hover, .input-condition-partially-met:focus {
    background-color: var(--clr-partially-correct-light-orange);
}

.input-label {
    position: absolute;
    top: 8px;
    left: 14px;
    color: #0e0e0ead;
    pointer-events: none;
    transition: all 0.2s ease-in;
    font-size: 1rem;
    user-select: none;
}

input:focus ~ label,
input:valid ~ label, .input-label-out {
    position: absolute;
    top: -8px;
    left: 12px;
    color: var(--clr-light-grey-background);
    pointer-events: none;
    transition: all 0.2s ease-out;
    font-size: 0.6rem;
    user-select: none;
    z-index: 1000;
    background-color: var(--clr-border-black);
    border: 1px solid var(--clr-border-black);
    padding: 0px 5px;
    border-radius: 5px;
}